<nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex">

  <a class="navbar-brand p-0 m-0" href="/"><img class="img-fluid" src="/images/logo3.png" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  {{#if user}}

  <div class="collapse navbar-collapse mx-auto" style="width: 200px;" id="navbarNav">

    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">


      {{#ifUser user}}
      <li class="nav-item mr-3">
        <a class="nav-link" href="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item mr-3">
        <a class="nav-link" href="/user/profile/{{user._id}}">Profile</a>
      </li>
      {{/ifUser}}

      {{#ifBand user}}
      <li class="nav-item mr-3">
        <a class="nav-link" href="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item mr-3">
        <a class="nav-link" href="/band/profile/{{user._id}}">Profile</a>
      </li>
      <li class="nav-item mr-3">
        <a class="nav-link" href="/events/{{user._id}}/add-event">Add an Event</a>
      </li>
      <li class="nav-item mr-3">
        <a class="nav-link" href="/events/{{user._id}}">Your events</a>
      </li>
      {{/ifBand}}

      {{#ifAdmin user}}
      <li class="nav-item mr-3">
        <a class="nav-link" href="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item mr-3">
        <a class="nav-link" href="/admin/profile/{{user._id}}">Profile</a>
      </li>
      <li class="nav-item mr-3">
        <a class="nav-link" href="/admin/add-user-first-page">Add Users/Artists</a>
      </li>
      {{/ifAdmin}}

      <li class="nav-item mr-3">
        <a class="nav-link" href="/band/list">List of bands</a>
      </li>
      <li class="nav-item mr-3">
        <a class="nav-link" href="/user/list">List of users</a>
      </li>
      <li class="nav-item mr-3">
        <a class="nav-link" href="/events/list">List of events</a>
      </li>

    </ul>

  </div>

  {{else}}

  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">

    <div>
      <form class="form-inline my-2 my-lg-0" action="/authentication/login" method="GET">
        {{!-- <li class="nav-item mr-4"> --}}
        <a class="my-btn btn btn-outline-secondary my-2 my-sm-0 mr-3" href="/authentication/login" role="button">Log
          In</a>
        {{!-- </li> --}}
      </form>
    </div>

    <div>
      <form class="form-inline my-2 my-lg-0" action="/authentication/login" method="GET">
        {{!-- <li class="nav-item mr-4"> --}}
        <a class="my-btn btn btn-outline-secondary my-2 my-sm-0 mr-1" href="/authentication/signup-first-step"
          role="button">Sign Up</a>
        {{!-- </li> --}}
      </form>
    </div>

    {{/if}}

    {{#if user}}

    <form class="form-inline my-2 my-lg-0" action="/authentication/logout" method="POST">
      <button class="my-btn btn btn-outline-secondary my-2 my-sm-0 text-right">Log Out</button>
    </form>
  </div>


  {{/if}}

</nav>