<h2>Edit your event</h2>

<form action="/events/edit/{{event._id}}" method='POST' class='d-flex flex-column'>
    <label for="date">Date</label><textarea type="date" name='date' cols="5" rows="1">{{event.date}}</textarea>
    <label for="time">Time</label><textarea type="time" name='time' cols="5" rows="1">{{event.time}}</textarea>
    <label for="nameOfEvent">Name Of Event</label><textarea type="text" name='nameOfEvent' cols="5" rows="1">{{event.nameOfEvent}}</textarea>
    <label for="site">Site</label><textarea type="text" name='site' cols="5" rows="1">{{event.address.site}}</textarea>
    <label for="road">Road</label> <textarea type="text" name='road' cols="30" rows="10">{{event.address.road}}</textarea>
    <label for="building">Number</label> <textarea type="text" name='building' cols="5" rows="1">{{event.address.building}}</textarea>
    <label for="floor">Floor</label> <textarea type="text" name='floor' cols="5" rows="1">{{event.address.floor}}</textarea>
    <label for="city">City</label><textarea type="text" name='city'cols="5" rows="1">{{event.address.city}}</textarea>
    <label for="zip_code">Zip Code</label><textarea type="text" name='zip_code' cols="5" rows="1">{{event.address.zip_code}}</textarea>
    <label for="latitude">Latitude</label> <textarea type="number" name='latitude' cols="5" rows="1">{{event.address.latitude}}</textarea>
    <label for="longitude">Longitude</label> <textarea type="number" name='longitude' cols="5" rows="1">{{event.address.longitude}}</textarea>
    <label for="description">Description</label><textarea type="text" name='description' cols="5" rows="1">{{event.description}}</textarea>
    <label for="price">Price</label> <textarea type="number" name='price' cols="5" rows="1">{{event.price}}</textarea>
    <button class='mt-1 w-25'>Edit event</button>
</form>

<form action="/events/delete/{{event._id}}" method='POST'><button>Delete Event</button></form>
