<div class='center'>
    <h1>Profile event</h1>
    <h2>{{event.bandName}}</h2>
    <p> {{event.date}}
        {{event.time}}
        {{event.nameOfEvent}}
        {{event.address.site}}
        {{event.address.road}}
        {{event.address.building}}
        {{event.address.floor}}
        {{event.address.city}}
        {{event.address.zip_code}}
        {{event.address.latitude}}
        {{event.address.longitude}}
        {{event.description}}
        {{event.price}}</p>
</div>