

<div class="p-5 m-1">
  <h2 class="font-weight-bold">Find out about other users</h2>
  <div class="d-flex flex-wrap justify-content-center align-items-center">
    {{#each user_individual}}
    <div id="band-profile-card" class="card mb-3 ml-3 col-6" style="max-width: 40%; height: 180px">
      <div class="row no-gutters">
        <div class="col-md-4">

          <img class="card-img" src="{{images.0.resizedUrl}}" alt="">

        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{username}}</h5>
            <div class="card-text">

              <p class="text-capitalize">{{#each genres}} {{this}}{{/each}}</p>

            </div>
            <p class="card-text">{{description}}</p>
            <a href="/user/profile/{{_id}}" class="card-text"><small class="text-dark">Check out this
                profile</small></a>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>