

<div class="p-5 m-1">
  <h2 class="font-weight-bold">Find out about other users</h2>
  <div class="d-flex flex-wrap justify-content-center align-items-center ">
    {{#each user_individual}}
    <div class="mb-3 ml-3" style="" id="band-profile-card-list">
      <div class="d-flex flex-row align-items-center align-content-center justify-content-center no-gutters">
        <div class="col-md-4 image-list">
          <img class="card-img" src="{{images.0.resizedUrl}}" alt="band">
        </div>
        <div class="col-md-8 content-list">
          <div class="card-body">
            <h5 class="card-title">{{username}}</h5>
            <div class="card-text">

            <p class="text-capitalize card-text">{{#each genres}} {{this}}{{/each}}</p>

            </div>
            <p class="card-text">{{description}}</p>
            <a href="/user/profile/{{_id}}" class="card-text"><small class="text-dark">Check out this
                profile</small></a>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>