<div class="p-2 m-0">
      <div class="row mb-3">
      <div class="col-md-4 align-middle">
        <img class="card-img border border-secondary align-middle ml-4" src="{{user_individual.images.0.resizedUrl}}" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <div class="card-title">
            <h1 class="font-weight-bold">{{user_individual.firstName}} {{user_individual.lastName}}</h1>
          </div>
          <div class="card-body">
            <h4>Favorite genres:</h4>
            {{#each user_individual.genres}}
            <h4 class="text-capitalize">{{this}}</h4>
            {{/each}}
          </div>
          <div class="card-body">
            <h4>About: {{user_individual.description}}</h4>
          </div>
        </div>
      </div>
    </div>
  <div id="band-profile-card" class="card mb-2 mr-4 ml-4">
    <h5 class="card-header">More</h5>

    <div class="card-body">
      <p class="card-text">Want to get in touch?</p>
      <a href="/form/contact-form/{{user_individual.id}}" class="btn btn-secondary">Contact Me</a>
    </div>

  </div>

  {{#ifSameLoggedIn user_individual user}}
  <div id="band-profile-card" class="card mb-2 d-flex flex-row mr-4 ml-4">
    <h5 class="card-header">Profile Settings</h5>
    <div class="card-body">
      <a href="/user/edit/{{user_individual._id}}" class="btn btn-secondary">Edit your profile</a>
    </div>
    <div class="card-body">
      <form action='/user/delete/{{user_individual._id}}' method="POST">
        <button class="btn btn-secondary">Delete your profile</button>
      </form>
    </div>
  </div>
  {{/ifSameLoggedIn}}

  {{#isAdmin user}}
  <div id="band-profile-card d-flex flex-row " class="card mb-2">
    <h5 class="card-header">User Profile Settings</h5>
    <div class="card-body">
      <a href="/user/edit/{{user_individual._id}}" class="btn btn-secondary">Edit this profile</a>
    </div>
    <div class="card-body">
      <form action='/user/delete/{{user_individual._id}}' method="POST">
        <button class="btn btn-secondary">Delete this profile.</button>
      </form>
    </div>
  </div>
  {{/isAdmin}}

</div>