<div class="p-5 m-1">

  <h1>Events</h1>
  <ul>
    {{#each results}}
    <li>{{this.nameOfEvent}} <br> {{bandName}}<br>{{this.date}} <br> {{this.address.city}} <a
        href="/events/edit/{{this._id}}">Edit</a></li>
    <a href="/events/profile/{{this._id}}">Event profile</a> {{/each}}
  </ul>
</div>