<div class="p-5 m-1">

  <h2>Single Post</h2>
  <div class="single-post d-flex justify-content-between">
    <div>
      {{#each this.images}}
      <img src={{this.resizedUrl}}>
      {{/each}}
    </div>
    <div class='d-flex flex-column'>
      <p>{{ this.text }}</p>
      <small>{{ this.creationDate }}</small>
      <br />
      <small>{{ this.author.username }}</small>
    </div>
    {{#ifSame this.author._id user}}
    <a href="/band/post/edit/{{this._id}}">Edit</a>
    {{/ifSame}}
  </div>
  </div>