<div class="p-5 m-1">
  <h2 class="font-weight-bold">Find out about the musicians</h2>
  <div class="d-flex align-items-center align-content-center justify-content-center flex-wrap">
    {{#each bands}}
    <div id="band-profile-card-list" class="mb-3 ml-3" style="">
      <div class="no-gutters d-flex flex-row align-items-center align-content-center justify-content-center">
        <div class="col-md-4 image-list">

          <img class="card-img" src="{{images.0.resizedUrl}}" alt="">

        </div>
        <div class="col-md-8 content-list">
          <div class="card-body">
            <h5 class="card-title">{{artistName}}</h5>
            <div class="card-text">

            <p class="text-capitalize">{{#each genres}} {{this}}{{/each}}</p>

            </div>
            <p class="card-text">{{description}}</p>
            <a href="/band/profile/{{_id}}" class="card-text"><small class="text-dark">Check out this
                profile</small></a>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>