<div class="p-2 m-0">

    <div class="row no-gutters">
      <div class="col-md-4">
        <img class="card-img border border-secondary ml-4" src="{{band.images.0.resizedUrl}}" alt="..." style="max-width:350px">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <div class="card-title">
            <h1 class="font-weight-bold">{{band.artistName}}</h1>
            <span>
              <div>⭐ Rating: {{band.bandAverageRate}}</div>
              {{#ifRated band user}}
              <div>You have rated this band!</div>
              {{/ifRated}}
              {{#ifNotRated band user}}
              <form action="/band/profile/{{band._id}}/rate" method='POST'>
                <label for="artistRating">Rate this band</label>
                <select name="rate" id="">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
                <button class="btn btn-secondary">Rate</button>
              </form>
              {{/ifNotRated}}
            </span>
          </div>
          <div class="card-body">
            <ul class='mb-0'>Genres</ul>
            {{#each band.genres}}
            <li class="text-capitalize">{{this}}</li>
            {{/each}}
          </div>
          <div class="card-body">
            <p>About {{band.description}}</p>
          </div>
          <div class="card-body">
            <p>Discography {{band.artistAlbums}}<p>
          </div>
        </div>
      </div>
    </div>

  <div id="band-profile-card" class="card mb-2 mr-3 ml-4">
    <h5 class="card-header">More From Us</h5>
    <div class="card-body">
      <p class="card-text">Want to get in touch?</p>
      <a href="/form/contact-form/{{band.id}}" class="btn btn-secondary">Contact Us</a>
    </div>
    <div class="card-body">
      <p class="card-text">Want to know even more about us, and, even better, listen to our music?</p>
      <a href="{{band.bandWebsite}}" class="btn btn-secondary">Our Website</a>
    </div>
    <div class="card-body">
      <p class="card-text">Come check us out live! Here's a list of our next gigs.</p>
      <a href="/events/{{band.id}}" class="btn btn-secondary">Concerts</a>
    </div>
    {{#ifNotSameLoggedIn band user}}
    <div class="card-body">
      <p class="card-text">Want to get in touch with us? Send us an email!</p>
      <a href="/band/contact-form/{{band.id}}" class="btn btn-secondary">Contact Us</a>
    </div>
    {{/ifNotSameLoggedIn}}
  </div>

  <div id="band-profile-card" class="card mb-2 mr-3 ml-4">
    <h5 class="card-header">Add a Comment</h5>
    <div class="card-body">
      <form class="card-text" action="/band/post/{{band._id}}/create" method="POST" enctype="multipart/form-data">
        <textarea class='"md-textarea form-control' name="text" maxlength="140" placeholder="Write your text here..."
          required></textarea>
        <input type="file" name="images" multiple />
        <button class="btn btn-secondary mt-3">Publish</button>
      </form>
    </div>
  </div>

  <div id="band-profile-card" class="card mb-2 mr-3 ml-4">
    <h5 class="card-header">Comments</h5>
    <div class="card-body">
      {{#each post}}
      <div>
        <a href="/band/post/{{this._id }}">
          <div>
            <p class="text-dark">{{ this.text }}</p>
          </div>
          <div>
            {{#each this.images}}
            <img class="img-fluid" src={{this.resizedUrl}}>
            {{/each}}
          </div>
          <div>
            <small class="text-secondary">{{ this.creationDate }}</small>
            <br />
            <small class="text-secondary">{{ this.author.username }}</small>
          </div>

        </a>
      </div>
      <hr>
      {{/each}}
    </div>
  </div>

  {{#ifSameLoggedIn band user}}
  <h5 class="ml-4"> Profile Settings</h5>
  <div id="" class="mb-2 d-flex flex-row mr-3 ml-4 justify-content-around">
    <div class="c">
      <a href="/band/edit/{{band._id}}" class="btn btn-secondary">Edit your profile</a>
    </div>
    <div class="">
      <form action='/band/delete/{{band._id}}' method="POST">
        <button class="btn btn-secondary">Delete your profile.</button>
      </form>
    </div>
  </div>
  {{/ifSameLoggedIn}}

  {{#isAdmin user}}
  <h5 class="ml-4">Band Profile Settings</h5>
  <div id="" class="mb-2 d-flex flex-row mr-3 ml-4 justify-content-around">
    <div class="">
      <a href="/band/edit/{{band._id}}" class="btn btn-secondary">Edit this profile.</a>
    </div>
    <div class="">
      <form action='/band/delete/{{band._id}}' method="POST">
        <button class="btn btn-secondary">Delete this profile.</button>
      </form>
    </div>
  </div>
  {{/isAdmin}}

</div>