<div class="center main-font">
  <h1>Band profile</h1>
  {{!-- {{#each band.images}} --}}
  <img src={{band.images.0.resizedUrl}}>
  {{!-- {{/each}} --}}
  <h2>{{band.artistName}}</h2>
  <div>⭐ Rate: {{band.bandAverageRate}}</div>
  {{#ifRated band user}}
  <div>You already rated this band!</div>
  {{/ifRated}}
  {{#ifNotRated band user}}
  <form action="/band/profile/{{band._id}}/rate" method='POST'>
    <label for="artistRating">Rate this band</label>
    <select name="rate" id="">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <button>Rate</button>
  </form>
  {{/ifNotRated}}
  <ul>Genre:
    {{#each band.genres}}
    <li>{{this}}</li>
    {{/each}}
  </ul>
  <div>Description: {{band.description}}</div>
  <div>Our Spotify Page: <a href="{{band.bandWebsite}}" target="blank">HERE</a></div>
  {{!-- <div>Recovery Q: {{band.passRecoveryQuestion}}</div> --}}
  <div><a href="/events/{{band.id}}">Events</a></div>
  {{#ifNotSameLoggedIn user_individual user}}
  <span>Want to get in touch with the band? Click <a href="/band/contact-form/{{band.id}}">here</a>.</span>
  {{/ifNotSameLoggedIn}}

  {{#ifUser user}}
  <span>Want to get in touch with the band? Click <a href="/band/contact-form/{{band.id}}">here</a>.</span>
  {{/ifUser}}

  {{#ifSameLoggedIn band user}}
  <div><a href="/band/edit/{{band._id}}">Edit</a>
  </div>
  <form action='/band/delete/{{band._id}}' method="POST"><button class="my-btn">Delete your Profile</button></form>
  {{/ifSameLoggedIn}}

  {{#isAdmin user}}
  <div><a href="/band/edit/{{band._id}}">Edit</a>
  </div>
  <form action='/band/delete/{{band._id}}' method="POST">
    <button class="my-btn">Delete this Artist's Profile</button>
  </form>
  {{/isAdmin}}
  <div class="single-post">
    <h3>Add posts</h3>
    <form action="/band/post/{{band._id}}/create" method="POST" enctype="multipart/form-data">
      <textarea class='"md-textarea form-control' name="text" maxlength="140" placeholder="Write your text here..."
        required></textarea>
      <input type="file" name="images" multiple />
      <button class="my-btn btn btn-secondary">Publish</button>
    </form>
  </div>
  <h3>Posts</h3>
  {{#each post}}

  <div class="single-post d-flex justify-content-between">
    <a href="/band/post/{{this._id }}">
      <div>
        {{#each this.images}}
        <img src={{this.resizedUrl}}>
        {{/each}}
      </div>
      <div class='d-flex flex-column'>
        <p>{{ this.text }}</p>
        <small>{{ this.creationDate }}</small>
        <br />
        <small>{{ this.author.username }}</small>
      </div>
    </a>
  </div>
  {{/each}}
</div>
</div>
</div>