<div class='center'>
  <h2>Update your settings</h2>
  <form action="/user/edit/{{user._id}}" method='POST'>
    <label for="firstName">First Name</label>
    <textarea name="firstName" id="" cols="30" rows="1">{{user.firstName}}</textarea>
    <br>
    <label for="lastName">Last Name</label>
    <textarea name="lastName" id="" cols="30" rows="1">{{user.lastName}}</textarea>
    <br>
    <label for="username">Username</label>
    <textarea name="username" id="" cols="30" rows="1">{{user.username}}</textarea>
    <br>
    <label for="description">Description</label>
    <textarea name="description" id="" cols="30" rows="1">{{user.description}}</textarea>
    <br>
    <label for="email">Email</label>
    <textarea name="email" type='email' id="" cols="30" rows="1" placeholder="required"
      required>{{user.email}}</textarea>
    <br>
    <label for="password">Password</label>
    <textarea name="password" type='password' id="" cols="30" rows="1" placeholder="required"></textarea>

    <button>Edit</button>

  </form>
</div>