<h1>{{user_individual.firstName}}'s Profile</h1>
{{!-- <img src="#" alt="Profile image"> --}}
<h2>{{user_individual.firstName}} {{user_individual.lastName}}</h2>
<h2>{{user_individual.username}}</h2>
<h2>{{user_individual.email}}</h2>
<div>Description: {{user_individual.description}}</div>
<ul>Favorite genres:
  {{#each user_individual.genres}}
  <li>{{this}}</li>
  {{/each}}
</ul>
{{#ifSameLoggedIn user_individual user}}
<div>
  <a href="/user/edit/{{user_individual._id}}">Edit</a>
</div>
<div>
  <form action="/user/{{user_individual._id}}/delete" method="POST">
    <button>Delete Your Profile</button>
  </form>
</div>
{{/ifSameLoggedIn}}

{{#isAdmin user}}
<div>
  <a href="/user/edit/{{user_individual._id}}">Edit</a>
</div>
<div>
  <form action="/user/{{user_individual._id}}/delete" method="POST">
    <button>Delete this User's Profile</button>
  </form>
</div>
{{/isAdmin}}