<div class="navbar navbar-expand-md navbar-dark fixed-top bg-dark d-flex justify-content-between">
    <ul class="navbar-nav">
        {{#if user}}
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        {{#ifUser user}}
        <li class="nav-item"> <a class="nav-link" href="/user/profile/{{user._id}}">Profile</a></li>
        {{/ifUser}}
        {{#ifBand user}}
        <li class="nav-item"> <a class="nav-link" href="/band/profile/{{user._id}}">Profile</a></li>
        <li class="nav-item"> <a class="nav-link" href="/events/{{user._id}}/add-event">Add an Event</a></li>
        <li class="nav-item"> <a class="nav-link" href="/events/{{user._id}}">Your events</a></li>
        {{/ifBand}}
        {{#ifAdmin user}}
        <li class="nav-item"> <a class="nav-link" href="/admin/profile/{{user._id}}">Profile</a></li>
        <li class="nav-item"><a class="nav-link" href="/admin/add-user-first-page">Add Users/Artists</a></li>
        {{/ifAdmin}}
        <li class="nav-item"><a class="nav-link" href="/band/list">List of bands</a></li>
        <li class="nav-item"><a class="nav-link" href="/user/list">List of users</a></li>
        <li class="nav-item"><a class="nav-link" href="/events/list">List of events</a></li>
        </li>
        {{else}}
        <li class="nav-item"> <a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"> <a class="nav-link" href="/about">About</a></li>
        <li class="nav-item"><a class="nav-link" href="/authentication/login">Log In</a></li>
        <li class="nav-item"> <a class="nav-link" href="/authentication/signup-first-step">Sign Up</a></li>
        {{/if}}
    </ul>
    {{#if user}}
    <form action="/authentication/logout" method="POST">
        <button class="btn btn-outline-success my-2 my-sm-0">Log Out</button>
    </form>
    {{/if}}
</div>