<h1>Band profile</h1>
<img src="#" alt="Here will be an image">
<h2>{{band.username}}</h2>
<ul>Genre:
    {{#each band.genre}}
    <li>{{this}}</li>
    {{/each}}
</ul>
<div>Description: {{band.description}}</div>
<div><a href="/band/events/{{band.id}}">Events</a></div>
{{#ifBand band}}
<div><a href="/band/edit/{{band._id}}">Edit</a>
</div>
{{/ifBand}}